In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.set_option('display.max_column', None)

import all csv from downloaded from kaggel and combine and save before data engineering

In [3]:
#%%timeit
cridits_df=pd.read_csv('D:/Desktop/DS projects/movie/credits.csv')
cridits_df.head()

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862

In [4]:
cridits_df.info()
#cridits_df.isnull().sum()
cridits_df.dtypes

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45476 entries, 0 to 45475
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   cast    45476 non-null  object
 1   crew    45476 non-null  object
 2   id      45476 non-null  int64
dtypes: int64(1), object(2)
memory usage: 1.0+ MB

cast    object
crew    object
id       int64
dtype: object

no null values

In [5]:
keywords_df=pd.read_csv('D:/Desktop/DS projects/movie/keywords.csv')
keywords_df.head()

      id                                           keywords
0    862  [{'id': 931, 'name': 'jealousy'}, {'id': 4290,...
1   8844  [{'id': 10090, 'name': 'board game'}, {'id': 1...
2  15602  [{'id': 1495, 'name': 'fishing'}, {'id': 12392...
3  31357  [{'id': 818, 'name': 'based on novel'}, {'id':...
4  11862  [{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n...

In [6]:
keywords_df.dtypes

id           int64
keywords    object
dtype: object

In [7]:
criditskeywords_df=cridits_df.merge(keywords_df,on="id")
#criditskeywords_df.head()
criditskeywords_df.columns

Index(['cast', 'crew', 'id', 'keywords'], dtype='object')

In [8]:
#check for shape of new dataframe
criditskeywords_df.shape

(46496, 4)

import link.csv data set for id maping of movies

In [9]:
links_df=pd.read_csv('D:/Desktop/DS projects/movie/links.csv')
#links_df.head()
links_df.dtypes

movieId      int64
imdbId       int64
tmdbId     float64
dtype: object

assuming movieID and ID same in cridits and keywords

In [10]:
links_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45843 entries, 0 to 45842
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  45843 non-null  int64
 1   imdbId   45843 non-null  int64
 2   tmdbId   45624 non-null  float64
dtypes: float64(1), int64(2)
memory usage: 1.0 MB

In [11]:
links_df.isnull().sum()

movieId      0
imdbId       0
tmdbId     219
dtype: int64

links_df will be used for mapping later first check movies meta data and ratings

In [12]:
metadata_df=pd.read_csv('D:/Desktop/DS projects/movie/movies_metadata.csv',low_memory=False)
metadata_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45463 entries, 0 to 45462
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45463 non-null  bool
 1   belongs_to_collection  4491 non-null   object
 2   budget                 45463 non-null  int64
 3   genres                 45463 non-null  object
 4   homepage               7779 non-null   object
 5   id                     45463 non-null  int64
 6   imdb_id                45446 non-null  object
 7   original_language      45452 non-null  object
 8   original_title         45463 non-null  object
 9   overview               44509 non-null  object
 10  popularity             45460 non-null  float64
 11  poster_path            45077 non-null  object
 12  production_companies   45460 non-null  object
 13  production_countries   45460 non-null  object
 14  release_date           45376 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: bool(1), float64(5), int64(2), object(16)
memory usage: 8.0+ MB

In [13]:
metadata_df.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",30-10-1995,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",15-12-1995,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.712900,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",22-12-1995,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",3.859495,/16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",22-12-1995,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,8.387519,/e64sOI48hQXyru7naBFyssKFxVd.jpg,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",10-02-1995,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [14]:
metadata_df.isnull().sum()

adult                        0
belongs_to_collection    40972
budget                       0
genres                       0
homepage                 37684
id                           0
imdb_id                     17
original_language           11
original_title               0
overview                   954
popularity                   3
poster_path                386
production_companies         3
production_countries         3
release_date                87
revenue                      3
runtime                    260
spoken_languages             3
status                      84
tagline                  25051
title                        3
video                        3
vote_average                 3
vote_count                   3
dtype: int64

In [15]:
pd.DataFrame(metadata_df.isnull().sum()/metadata_df.shape[0] *100).sort_values(0,ascending=False)[:5]

                               0
belongs_to_collection  90.121637
homepage               82.889383
tagline                55.101951
overview                2.098410
poster_path             0.849042

belongs to collection is 90% // must be empty as not all moovvies has multiple parts lets check if to keep it after reading the json
homepage has links to the movies which is not required as 82% empty and create no value to recomendation model
so drop homepage now
tagling has one liner synopsis which is not usefull as well

In [16]:
criditskeywords_df.columns

Index(['cast', 'crew', 'id', 'keywords'], dtype='object')

id in keyword cridits and metadata is tmdid(the movie database id)
change name of id in both dataframe

In [17]:
criditskeywords_df.rename(columns = {'id':'tmdbid'}, inplace = True)

criditskeywords_df.columns

Index(['cast', 'crew', 'tmdbid', 'keywords'], dtype='object')

In [18]:
metadata_df.rename(columns = {'id':'tmdbid'}, inplace = True)
metadata_df.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage',
       'tmdbid', 'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

link all data frames on links then drop extra columns

In [19]:
#metadata_linked=criditskeywords_df.merge(links_df,on="tmdbid")
#metadata_linked
#links_df.columns
links_df.rename(columns = {'tmdbId':'tmdbid'}, inplace = True)
links_df.columns

Index(['movieId', 'imdbId', 'tmdbid'], dtype='object')

In [20]:
metadata_linked_df=criditskeywords_df.merge(links_df,on="tmdbid")
#metadata_linked_df.columns
metadata_linked_df.dtypes

cast        object
crew        object
tmdbid       int64
keywords    object
movieId      int64
imdbId       int64
dtype: object

In [21]:
metadata_df.dtypes

adult                       bool
belongs_to_collection     object
budget                     int64
genres                    object
homepage                  object
tmdbid                     int64
imdb_id                   object
original_language         object
original_title            object
overview                  object
popularity               float64
poster_path               object
production_companies      object
production_countries      object
release_date              object
revenue                  float64
runtime                  float64
spoken_languages          object
status                    object
tagline                   object
title                     object
video                     object
vote_average             float64
vote_count               float64
dtype: object

one has tmdbid as object and one has as int64 
change metadata linked_df to object as no need for int64

In [22]:
metadata_linked_df['tmdbid'] = metadata_linked_df['tmdbid'].apply(str)
metadata_df['tmdbid'] = metadata_df['tmdbid'].apply(str)
#df['Price'] = df['Price'].apply(str)
metadata_linked_df.dtypes

cast        object
crew        object
tmdbid      object
keywords    object
movieId      int64
imdbId       int64
dtype: object

In [23]:
metadata_linked_df=metadata_linked_df.merge(metadata_df,on="tmdbid")
metadata_linked_df.columns

Index(['cast', 'crew', 'tmdbid', 'keywords', 'movieId', 'imdbId', 'adult',
       'belongs_to_collection', 'budget', 'genres', 'homepage', 'imdb_id',
       'original_language', 'original_title', 'overview', 'popularity',
       'poster_path', 'production_companies', 'production_countries',
       'release_date', 'revenue', 'runtime', 'spoken_languages', 'status',
       'tagline', 'title', 'video', 'vote_average', 'vote_count'],
      dtype='object')

In [24]:
metadata_linked_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46910 entries, 0 to 46909
Data columns (total 29 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   cast                   46910 non-null  object
 1   crew                   46910 non-null  object
 2   tmdbid                 46910 non-null  object
 3   keywords               46910 non-null  object
 4   movieId                46910 non-null  int64
 5   imdbId                 46910 non-null  int64
 6   adult                  46910 non-null  bool
 7   belongs_to_collection  4602 non-null   object
 8   budget                 46910 non-null  int64
 9   genres                 46910 non-null  object
 10  homepage               8049 non-null   object
 11  imdb_id                46893 non-null  object
 12  original_language      46899 non-null  object
 13  original_title         46910 non-null  object
 14  overview               45915 non-null  object
 15  popularity             46906 non-null  float64
 16  poster_path            46511 non-null  object
 17  production_companies   46906 non-null  object
 18  production_countries   46906 non-null  object
 19  release_date           46822 non-null  object
 20  revenue                46906 non-null  float64
 21  runtime                46642 non-null  float64
 22  spoken_languages       46906 non-null  object
 23  status                 46824 non-null  object
 24  tagline                20909 non-null  object
 25  title                  46906 non-null  object
 26  video                  46906 non-null  object
 27  vote_average           46906 non-null  float64
 28  vote_count             46906 non-null  float64
dtypes: bool(1), float64(5), int64(3), object(20)
memory usage: 10.1+ MB

change all columns to appropiate dtypes
      4   movieId                  47528 non-null  int64  to obj
      5   imdbId                   47528 non-null  int64  to obj
      6   adult                 47528 non-null  object to boolean
      11  imdb_id                47511 non-null  objectdrop as repeated column
      15  popularity             47524 non-null  object to float64
      19  release_date           47440 non-null  object to datetime
      26  video                  46906 non-null  object to boolean but no discriiption as what is so drop video

In [25]:
metadata_linked_df['movieId'] = metadata_linked_df['movieId'].apply(str)
metadata_linked_df['imdbId'] = metadata_linked_df['imdbId'].apply(str)

#metadata_linked_df.info()
#metadata_linked_df['adult'].head()
metadata_linked_df.drop(['imdb_id','video'],axis=1, inplace=True)

metadata_linked_df['popularity'] = metadata_linked_df['popularity'].astype(float)
metadata_linked_df['release_date'] = pd.to_datetime(metadata_linked_df['release_date'],format='mixed')
#metadata_linked_df['release_date'].head()
metadata_linked_df.info()
#metadata_linked_df['adult']

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46910 entries, 0 to 46909
Data columns (total 27 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   cast                   46910 non-null  object
 1   crew                   46910 non-null  object
 2   tmdbid                 46910 non-null  object
 3   keywords               46910 non-null  object
 4   movieId                46910 non-null  object
 5   imdbId                 46910 non-null  object
 6   adult                  46910 non-null  bool
 7   belongs_to_collection  4602 non-null   object
 8   budget                 46910 non-null  int64
 9   genres                 46910 non-null  object
 10  homepage               8049 non-null   object
 11  original_language      46899 non-null  object
 12  original_title         46910 non-null  object
 13  overview               45915 non-null  object
 14  popularity             46906 non-null  float64
 15  poster_path            46511 non-null  object
 16  production_companies   46906 non-null  object
 17  production_countries   46906 non-null  object
 18  release_date           46822 non-null  datetime64[ns]
 19  revenue                46906 non-null  float64
 20  runtime                46642 non-null  float64
 21  spoken_languages       46906 non-null  object
 22  status                 46824 non-null  object
 23  tagline                20909 non-null  object
 24  title                  46906 non-null  object
 25  vote_average           46906 non-null  float64
 26  vote_count             46906 non-null  float64
dtypes: bool(1), datetime64[ns](1), float64(5), int64(1), object(19)
memory usage: 9.4+ MB

drop more columns which are not required

In [26]:
#metadata_linked_df['original_language'].value_counts()
#drop budget cause not required for recommendation
#homepape 
#drop popularity too cause we will filter on tags and popularity not required same with production companies and production countries and spoken launguages
#drop release date for now 
#drop runtime too 
#status check first with taglin
#drop bellongs to collection now till finding a way to incoporate it into keywords columns later
#drop stauts and tagline and title
#keep 
#original movies has mostly english movies so cannot filter based on original launguage so drop original launguage
metadata_linked_df.drop(['budget','adult','revenue','vote_average','vote_count','original_language','homepage','popularity','production_companies','production_countries','belongs_to_collection','poster_path','spoken_languages','runtime','status','tagline','original_title'],axis=1, inplace=True)

save this cleaned file for further recommendation building

In [27]:
metadata_linked_df.to_pickle('movies.pickle')

In [28]:
movies_df=pd.read_pickle('D:/Desktop/DS projects/movie/movies.pickle')
#movies_df.head()
movies_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46910 entries, 0 to 46909
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   cast          46910 non-null  object
 1   crew          46910 non-null  object
 2   tmdbid        46910 non-null  object
 3   keywords      46910 non-null  object
 4   movieId       46910 non-null  object
 5   imdbId        46910 non-null  object
 6   genres        46910 non-null  object
 7   overview      45915 non-null  object
 8   release_date  46822 non-null  datetime64[ns]
 9   title         46906 non-null  object
dtypes: datetime64[ns](1), object(9)
memory usage: 3.6+ MB

In [29]:
movies_df.isnull().sum()

cast              0
crew              0
tmdbid            0
keywords          0
movieId           0
imdbId            0
genres            0
overview        995
release_date     88
title             4
dtype: int64

very low ammount of missing data so we can just drop it

In [30]:
movies_df.dropna(inplace=True)
movies_df.isnull().sum()

cast            0
crew            0
tmdbid          0
keywords        0
movieId         0
imdbId          0
genres          0
overview        0
release_date    0
title           0
dtype: int64

In [31]:
movies_df.head()

,cast,crew,tmdbid,keywords,movieId,imdbId,genres,overview,release_date,title
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862,"[{'id': 931, 'name': 'jealousy'}, {'id': 4290,...",1,114709,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...","Led by Woody, Andy's toys live happily in his ...",1995-10-30,Toy Story
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844,"[{'id': 10090, 'name': 'board game'}, {'id': 1...",2,113497,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",When siblings Judy and Peter discover an encha...,1995-12-15,Jumanji
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602,"[{'id': 1495, 'name': 'fishing'}, {'id': 12392...",3,113228,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",A family wedding reignites the ancient feud be...,1995-12-22,Grumpier Old Men
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357,"[{'id': 818, 'name': 'based on novel'}, {'id':...",4,114885,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...","Cheated on, mistreated and stepped on, the wom...",1995-12-22,Waiting to Exhale
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862,"[{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n...",5,113041,"[{'id': 35, 'name': 'Comedy'}]",Just when George Banks has recovered from his ...,1995-10-02,Father of the Bride Part II

cast crew keyword genre are in jason dictionary so for key word we need to transform them into list first

In [32]:
import ast
import numpy as np
movies_df.head()

,cast,crew,tmdbid,keywords,movieId,imdbId,genres,overview,release_date,title
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862,"[{'id': 931, 'name': 'jealousy'}, {'id': 4290,...",1,114709,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...","Led by Woody, Andy's toys live happily in his ...",1995-10-30,Toy Story
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844,"[{'id': 10090, 'name': 'board game'}, {'id': 1...",2,113497,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",When siblings Judy and Peter discover an encha...,1995-12-15,Jumanji
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602,"[{'id': 1495, 'name': 'fishing'}, {'id': 12392...",3,113228,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",A family wedding reignites the ancient feud be...,1995-12-22,Grumpier Old Men
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357,"[{'id': 818, 'name': 'based on novel'}, {'id':...",4,114885,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...","Cheated on, mistreated and stepped on, the wom...",1995-12-22,Waiting to Exhale
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862,"[{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n...",5,113041,"[{'id': 35, 'name': 'Comedy'}]",Just when George Banks has recovered from his ...,1995-10-02,Father of the Bride Part II

In [33]:
def transformGenreKey(genrecol):
    List=[]

    for i in ast.literal_eval(genrecol):
        List.append(i['name'])
        
    return List 


def transformcast(castcol):
    List=[]
# just hope for mercy and let top/famous actor will be sorted first
    k=0
    while k<3:
        for i in ast.literal_eval(castcol):
            List.append(i['name'])
        k+=1
    return List 




#from crew we just need director
def transformCrew(crewcol):
    List=[]

    for i in ast.literal_eval(crewcol):
        if i['job']=="Director":
            List.append(i['name'])
        
    return List

In [34]:
movies_df['genres']=movies_df['genres'].apply(transformGenreKey)
movies_df['cast']=movies_df['cast'].apply(transformcast)
movies_df['keywords']=movies_df['keywords'].apply(transformGenreKey)
movies_df['crew']=movies_df['crew'].apply(transformCrew)

In [35]:
movies_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 45840 entries, 0 to 46909
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   cast          45840 non-null  object
 1   crew          45840 non-null  object
 2   tmdbid        45840 non-null  object
 3   keywords      45840 non-null  object
 4   movieId       45840 non-null  object
 5   imdbId        45840 non-null  object
 6   genres        45840 non-null  object
 7   overview      45840 non-null  object
 8   release_date  45840 non-null  datetime64[ns]
 9   title         45840 non-null  object
dtypes: datetime64[ns](1), object(9)
memory usage: 3.8+ MB

for keyword of name there is space between names that causes full name to be read as different keys so remove spaces from all keywords

In [36]:
def spaces(col):
    keys = []
    for i in col:
        keys.append(i.replace(" ",""))
    return keys

In [37]:
#movies_df['crew'].apply(spaces)
movies_df['genres']=movies_df['genres'].apply(spaces)
movies_df['cast']=movies_df['cast'].apply(spaces)
movies_df['keywords']=movies_df['keywords'].apply(spaces)
movies_df['crew']=movies_df['crew'].apply(spaces)
movies_df.head()

,cast,crew,tmdbid,keywords,movieId,imdbId,genres,overview,release_date,title
0,"[TomHanks, TimAllen, DonRickles, JimVarney, Wa...",[JohnLasseter],862,"[jealousy, toy, boy, friendship, friends, riva...",1,114709,"[Animation, Comedy, Family]","Led by Woody, Andy's toys live happily in his ...",1995-10-30,Toy Story
1,"[RobinWilliams, JonathanHyde, KirstenDunst, Br...",[JoeJohnston],8844,"[boardgame, disappearance, basedonchildren'sbo...",2,113497,"[Adventure, Fantasy, Family]",When siblings Judy and Peter discover an encha...,1995-12-15,Jumanji
2,"[WalterMatthau, JackLemmon, Ann-Margret, Sophi...",[HowardDeutch],15602,"[fishing, bestfriend, duringcreditsstinger, ol...",3,113228,"[Romance, Comedy]",A family wedding reignites the ancient feud be...,1995-12-22,Grumpier Old Men
3,"[WhitneyHouston, AngelaBassett, LorettaDevine,...",[ForestWhitaker],31357,"[basedonnovel, interracialrelationship, single...",4,114885,"[Comedy, Drama, Romance]","Cheated on, mistreated and stepped on, the wom...",1995-12-22,Waiting to Exhale
4,"[SteveMartin, DianeKeaton, MartinShort, Kimber...",[CharlesShyer],11862,"[baby, midlifecrisis, confidence, aging, daugh...",5,113041,[Comedy],Just when George Banks has recovered from his ...,1995-10-02,Father of the Bride Part II

overview has spaces and each word whould be key word

In [38]:
#movies_df['overview'][0]

In [39]:
movies_df['overview'] = movies_df['overview'].apply(lambda x:x.split())
#movies_df['overview'][0]

In [40]:
movies_df.head()

,cast,crew,tmdbid,keywords,movieId,imdbId,genres,overview,release_date,title
0,"[TomHanks, TimAllen, DonRickles, JimVarney, Wa...",[JohnLasseter],862,"[jealousy, toy, boy, friendship, friends, riva...",1,114709,"[Animation, Comedy, Family]","[Led, by, Woody,, Andy's, toys, live, happily,...",1995-10-30,Toy Story
1,"[RobinWilliams, JonathanHyde, KirstenDunst, Br...",[JoeJohnston],8844,"[boardgame, disappearance, basedonchildren'sbo...",2,113497,"[Adventure, Fantasy, Family]","[When, siblings, Judy, and, Peter, discover, a...",1995-12-15,Jumanji
2,"[WalterMatthau, JackLemmon, Ann-Margret, Sophi...",[HowardDeutch],15602,"[fishing, bestfriend, duringcreditsstinger, ol...",3,113228,"[Romance, Comedy]","[A, family, wedding, reignites, the, ancient, ...",1995-12-22,Grumpier Old Men
3,"[WhitneyHouston, AngelaBassett, LorettaDevine,...",[ForestWhitaker],31357,"[basedonnovel, interracialrelationship, single...",4,114885,"[Comedy, Drama, Romance]","[Cheated, on,, mistreated, and, stepped, on,, ...",1995-12-22,Waiting to Exhale
4,"[SteveMartin, DianeKeaton, MartinShort, Kimber...",[CharlesShyer],11862,"[baby, midlifecrisis, confidence, aging, daugh...",5,113041,[Comedy],"[Just, when, George, Banks, has, recovered, fr...",1995-10-02,Father of the Bride Part II

In [41]:
#ratings_df['movieId'] = ratings_df['movieId'].apply(str)
#ratings_df.dtypes
#recommend_df=ratings_df.merge(movies_df,on="movieId")
#recommend_df.head()
#recommend_df.to_pickle('recommend.pickle')
#ratings_df=pd.read_csv('D:/Desktop/DS projects/movie/ratings.csv')

In [42]:
movies_df['keys'] = movies_df['overview'] + movies_df['genres'] + movies_df['keywords'] + movies_df['cast'] + movies_df['crew']

In [43]:
movies_df= movies_df.drop(columns=['overview','genres','keywords','cast','crew'])
movies_df.head()

,tmdbid,movieId,imdbId,release_date,title,keys
0,862,1,114709,1995-10-30,Toy Story,"[Led, by, Woody,, Andy's, toys, live, happily,..."
1,8844,2,113497,1995-12-15,Jumanji,"[When, siblings, Judy, and, Peter, discover, a..."
2,15602,3,113228,1995-12-22,Grumpier Old Men,"[A, family, wedding, reignites, the, ancient, ..."
3,31357,4,114885,1995-12-22,Waiting to Exhale,"[Cheated, on,, mistreated, and, stepped, on,, ..."
4,11862,5,113041,1995-10-02,Father of the Bride Part II,"[Just, when, George, Banks, has, recovered, fr..."

In [44]:
movies_df['keys'] = movies_df['keys'].apply(lambda x: " ".join(x))
movies_df.head()

,tmdbid,movieId,imdbId,release_date,title,keys
0,862,1,114709,1995-10-30,Toy Story,"Led by Woody, Andy's toys live happily in his ..."
1,8844,2,113497,1995-12-15,Jumanji,When siblings Judy and Peter discover an encha...
2,15602,3,113228,1995-12-22,Grumpier Old Men,A family wedding reignites the ancient feud be...
3,31357,4,114885,1995-12-22,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom..."
4,11862,5,113041,1995-10-02,Father of the Bride Part II,Just when George Banks has recovered from his ...

In [45]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [46]:
cv = CountVectorizer(max_features=5000,stop_words='english')
vector = cv.fit_transform(movies_df['keys']).toarray() 
vector.shape

(45840, 5000)

In [47]:
similarity = cosine_similarity(vector)

In [58]:
movies_df[movies_df['title'] == 'Toy Story'].index[0]

def recommender(moviename):
    index = movies_df[movies_df['title'] == moviename].index[0]
    distances = sorted(list(enumerate(similarity[index])),reverse=True,key = lambda x: x[1])
    for i in distances[1:6]:
        print(movies_df.iloc[i[0]].title)
#def recommender(moviename):
#    index = movies_df[movies_df['title'] == movies_df].index[0]
#    distances = sorted(list(enumerate(similarity[index])),reverse=True,key = lambda x: x[1])
#    for i in distances[1:6]:
#        print(movies_df.iloc[i[0]].title)

In [59]:
recommender('Jumanji')

Liar Game: Reborn
Dreams with Sharp Teeth
Can I Do It Till I Need Glasses?
Return to Me
Robin Williams: An Evening with Robin Williams